@{
    ViewBag.Title = "Home Page";
}

<style>
    .mycontent{
        margin-top:3%;

    }
    .listdiv {
        margin-top: 3%;
    }

</style>

<div class="col-lg-12" style="min-height:90vh;margin-top:5%;">
    <div class="col-lg-12" style="display:flex;justify-content:center;">

        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#customers" data-toggle="tab">客戶(Customers)</a></li>
            <li><a href="#employees" data-toggle="tab">員工(Employees)</a></li>
            <li><a href="#orders" data-toggle="tab">訂單(Orders)</a></li>
            <li><a href="#products" data-toggle="tab">產品(Products)</a></li>
        </ul>
    </div>

    <div class="col-lg-12" style="display:flex;justify-content:center;">

        <div id="myTabContent" class="tab-content" style="border: 1px solid;padding-bottom: 3%;">
            <div class="tab-pane fade in active mycontent" id="customers">

                <div class="col-lg-12">
                    <div class="col-lg-3">

                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-primary" onclick="myAjaxGet('customers',false);">取得全部客戶資料</button>
                    </div>
                </div>

                <div class="col-lg-12 listdiv">
                    <div class="col-lg-3" style="display:flex;align-items:center;">
                        <label class="col-lg-1 control-label " style="margin-bottom:0px;">ID：</label>
                        <div class="col-lg-8" style="padding:0;margin-left:10%;">
                            <input type="text" id="customersid_get" class="form-control " style="text-align:left;margin-right:0px;cursor: pointer;" value="Joker">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-primary" onclick="myAjaxGet('customers',true);">取得指定客戶資料</button>
                    </div>
                    <div class="col-lg-3">
                        Joker,BERGS,BLAUS,BONAP,CENTC
                    </div>
                </div>

                <div class="col-lg-12 listdiv">
                    <div class="col-lg-3" style="display:flex;align-items:center;">
                        <label class="col-lg-1 control-label " style="margin-bottom:0px;">ID：</label>
                        <div class="col-lg-8" style="padding:0;margin-left:10%;">
                            <input type="text" id="customersid_post" class="form-control " style="text-align:left;margin-right:0px;cursor: pointer;" value="Joker">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-primary" onclick="myAjaxPost('customers');">修改指定客戶資料</button>
                    </div>
                </div>

                <div class="col-lg-12 listdiv">
                    <div class="col-lg-3" style="display:flex;align-items:center;">
                        <label class="col-lg-1 control-label " style="margin-bottom:0px;">ID：</label>
                        <div class="col-lg-8" style="padding:0;margin-left:10%;">
                            <input type="text" id="customersid_delete" class="form-control " style="text-align:left;margin-right:0px;cursor: pointer;" value="Joker">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-primary" onclick="myAjaxDelete('customers');">刪除指定客戶資料</button>
                    </div>
                </div>
            </div>



            <div class="tab-pane fade mycontent" id="employees">
                <div class="col-lg-12">
                    <div class="col-lg-3">

                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-primary" onclick="myAjaxGet('customers',false);" disabled>取得全部員工資料</button>
                    </div>
                </div>

                <div class="col-lg-12 listdiv">
                    <div class="col-lg-3" style="display:flex;align-items:center;">
                        <label class="col-lg-1 control-label " style="margin-bottom:0px;">ID：</label>
                        <div class="col-lg-8" style="padding:0;margin-left:10%;">
                            <input type="text" id="customersid_get" class="form-control " style="text-align:left;margin-right:0px;cursor: pointer;" value="Joker">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-primary" onclick="myAjaxGet('customers',true);" disabled>取得指定員工資料</button>
                    </div>
                    <div class="col-lg-3">
                        Joker,BERGS,BLAUS,BONAP,CENTC
                    </div>
                </div>

                <div class="col-lg-12 listdiv">
                    <div class="col-lg-3" style="display:flex;align-items:center;">
                        <label class="col-lg-1 control-label " style="margin-bottom:0px;">ID：</label>
                        <div class="col-lg-8" style="padding:0;margin-left:10%;">
                            <input type="text" id="customersid_post" class="form-control " style="text-align:left;margin-right:0px;cursor: pointer;" value="Joker">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-primary" onclick="myAjaxPost('customers');" disabled>修改指定員工資料</button>
                    </div>
                </div>

                <div class="col-lg-12 listdiv">
                    <div class="col-lg-3" style="display:flex;align-items:center;">
                        <label class="col-lg-1 control-label " style="margin-bottom:0px;">ID：</label>
                        <div class="col-lg-8" style="padding:0;margin-left:10%;">
                            <input type="text" id="customersid_delete" class="form-control " style="text-align:left;margin-right:0px;cursor: pointer;" value="Joker">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-primary" onclick="myAjaxDelete('customers');" disabled>刪除指定員工資料</button>
                    </div>
                </div>
            </div>


            <div class="tab-pane fade mycontent" id="orders">
                <div class="col-lg-12">
                    <div class="col-lg-3">

                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-primary" onclick="myAjaxGet('customers',false);" disabled>取得全部訂單資料</button>
                    </div>
                </div>

                <div class="col-lg-12 listdiv">
                    <div class="col-lg-3" style="display:flex;align-items:center;">
                        <label class="col-lg-1 control-label " style="margin-bottom:0px;">ID：</label>
                        <div class="col-lg-8" style="padding:0;margin-left:10%;">
                            <input type="text" id="customersid_get" class="form-control " style="text-align:left;margin-right:0px;cursor: pointer;" value="Joker">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-primary" onclick="myAjaxGet('customers',true);" disabled>取得指定訂單資料</button>
                    </div>
                    <div class="col-lg-3">
                        Joker,BERGS,BLAUS,BONAP,CENTC
                    </div>
                </div>

                <div class="col-lg-12 listdiv">
                    <div class="col-lg-3" style="display:flex;align-items:center;">
                        <label class="col-lg-1 control-label " style="margin-bottom:0px;">ID：</label>
                        <div class="col-lg-8" style="padding:0;margin-left:10%;">
                            <input type="text" id="customersid_post" class="form-control " style="text-align:left;margin-right:0px;cursor: pointer;" value="Joker">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-primary" onclick="myAjaxPost('customers');" disabled>修改指定訂單資料</button>
                    </div>
                </div>

                <div class="col-lg-12 listdiv">
                    <div class="col-lg-3" style="display:flex;align-items:center;">
                        <label class="col-lg-1 control-label " style="margin-bottom:0px;">ID：</label>
                        <div class="col-lg-8" style="padding:0;margin-left:10%;">
                            <input type="text" id="customersid_delete" class="form-control " style="text-align:left;margin-right:0px;cursor: pointer;" value="Joker">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-primary" onclick="myAjaxDelete('customers');" disabled>刪除指定訂單資料</button>
                    </div>
                </div>
            </div>


            <div class="tab-pane fade mycontent" id="products">
                <div class="col-lg-12">
                    <div class="col-lg-3">

                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-primary" onclick="myAjaxGet('customers',false);" disabled>取得全部產品資料</button>
                    </div>
                </div>

                <div class="col-lg-12 listdiv">
                    <div class="col-lg-3" style="display:flex;align-items:center;">
                        <label class="col-lg-1 control-label " style="margin-bottom:0px;">ID：</label>
                        <div class="col-lg-8" style="padding:0;margin-left:10%;">
                            <input type="text" id="customersid_get" class="form-control " style="text-align:left;margin-right:0px;cursor: pointer;" value="Joker">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-primary" onclick="myAjaxGet('customers',true);" disabled>取得指定產品資料</button>
                    </div>
                    <div class="col-lg-3">
                        Joker,BERGS,BLAUS,BONAP,CENTC
                    </div>
                </div>

                <div class="col-lg-12 listdiv">
                    <div class="col-lg-3" style="display:flex;align-items:center;">
                        <label class="col-lg-1 control-label " style="margin-bottom:0px;">ID：</label>
                        <div class="col-lg-8" style="padding:0;margin-left:10%;">
                            <input type="text" id="customersid_post" class="form-control " style="text-align:left;margin-right:0px;cursor: pointer;" value="Joker">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-primary" onclick="myAjaxPost('customers');" disabled>修改指定產品資料</button>
                    </div>
                </div>

                <div class="col-lg-12 listdiv">
                    <div class="col-lg-3" style="display:flex;align-items:center;">
                        <label class="col-lg-1 control-label " style="margin-bottom:0px;">ID：</label>
                        <div class="col-lg-8" style="padding:0;margin-left:10%;">
                            <input type="text" id="customersid_delete" class="form-control " style="text-align:left;margin-right:0px;cursor: pointer;" value="Joker">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-primary" onclick="myAjaxDelete('customers');" disabled>刪除指定產品資料</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-12" style="min-height:40vh;margin-top:5%;border:1px solid;">
        <div class="col-lg-12" id="resultapi" style="height:100%;width:100%;min-height:400px;">

        </div>
    </div>
</div>





<script>

    function apiTest() {
        $.ajax({
            url: "../api/Customers",
            type: "Get",
            success: function (result) {

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr + "/" + ajaxOptions + "/" + thrownError);
            },
        })
    }

    function myAjaxGet(item, hasID) {
        var urlstr = "";
        var tmpid = document.getElementById('customersid_get').value;
        if (hasID) {
            urlstr = "../api/" + item + "/" + tmpid;
        }
        else {
            urlstr = "../api/" + item;
        }

        $.ajax({
            url: urlstr,
            type: "Get",
            success: function (result) {
                document.getElementById('resultapi').innerText = result;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr + "/" + ajaxOptions + "/" + thrownError);
            },
        })
    }


    function myAjaxPost(item) {
        var tmpid = document.getElementById('customersid_post').value;

        var data = { CustomerID: tmpid, Fax: "123123" }
        var urlstr = "../api/" + item;
        $.ajax({
            url: urlstr,
            type: "Post",
            data: data,
            success: function (result) {
                document.getElementById('resultapi').innerText = result;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr + "/" + ajaxOptions + "/" + thrownError);
            },
        })
    }

    function myAjaxDelete(item) {
        var urlstr = "";
        var tmpid = document.getElementById('customersid_delete').value;
        urlstr = "../api/" + item + "/" + tmpid;

        $.ajax({
            url: urlstr,
            type: "Delete",
            success: function (result) {
                document.getElementById('resultapi').innerText = result;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr + "/" + ajaxOptions + "/" + thrownError);
            },
        })
    }
</script>